<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YeeNewsChannel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD0B982E1E4C59B000D3E247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0B98471E4C59B000D3E247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0B98521E4C59B000D3E247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
